#loginPaneBackground
{
    -fx-background-image: url("dirt.png");
    -fx-background-repeat: repeat;   
    -fx-background-position: 0 0;
}

.jfx-tab-pane *.tab-header-background 
{
	-fx-background-color: grey;
}