#loginPaneBackground
{
    -fx-background-repeat: repeat;   
    -fx-background-position: 0 0;
}

.jfx-tab-pane *.tab-header-background 
{
	-fx-background-color: white;
}

.tab .tab-label 
{ 
    -fx-text-fill: #505050;
}

.tab:selected .tab-label 
{ 
    -fx-text-fill: #505050;
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -fx-rippler-fill: grey;
}

.tab-selected-line
{
	-fx-stroke: #505050;
}